<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.excel.mapper.CommonMapper">

    <!--   <insert id="insertExcel">
           insert into hte_kc_material_purchase(id,djh,site_id, material_id, supply_id, sl_t, dj, yfdj, zje, cg_date,
           creater,
           remark, check_flag, create_time, check_date,rk_flag,purchase_way)
           values
           <foreach item="item" index="index" collection="list" separator=",">
               (
               #{item.id},#{item.A},#{item.B},#{item.C},#{item.D},#{item.E},#{item.F},#{item.G},#{item.H},
               #{item.I},#{item.J},#{item.K},#{item.L},#{item.M},#{item.N},#{item.O},#{item.P}
               )
           </foreach>
       </insert>-->

    <!--<insert id="insertExcel">
        insert into hte_kc_material_rk(id,djh,site_id, material_id, supply_id, sl_t, rk_date, creater,
        remark, check_flag, create_time, check_date,kc_sl_t)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.A},#{item.B},#{item.C},#{item.D},#{item.E},#{item.F},#{item.G},#{item.H},
               #{item.I},#{item.J},#{item.K},#{item.L})
        </foreach>
    </insert>-->

    <!--    <insert id="insertExcel">-->
    <!--        insert into hte_kc_material_ck_tzd-->
    <!--        (id,djh,site_id, material_id, supply_id, sl_kg, operate_date, creater, remark, check_flag, create_time,-->
    <!--        check_date, type)-->
    <!--        values-->
    <!--        <foreach item="item" index="index" collection="list" separator=",">-->
    <!--            (#{item.id},#{item.A},#{item.B},#{item.C},#{item.D},#{item.E},#{item.F},#{item.G},#{item.H},-->
    <!--            #{item.I},#{item.J},#{item.K},#{item.L})-->
    <!--        </foreach>-->
    <!--    </insert>-->

    <!--    <insert id="insertExcel">-->
    <!--        insert into hte_kc_material_rk_data_collect-->
    <!--        (id,parent_id,site_id, material_id, supply_id, rk_date, hy_date, creater, create_time)-->
    <!--        values-->
    <!--        <foreach item="item" index="index" collection="list" separator=",">-->
    <!--            (#{item.id},#{item.B},#{item.C},#{item.D},#{item.E},#{item.F},#{item.G},#{item.H},-->
    <!--            #{item.I})-->
    <!--        </foreach>-->
    <!--    </insert>-->

    <!--<insert id="insertExcel">
        insert into hte_kc_material_rk_data_collect_detail
        (id,parent_id,test_index_id, test_index,create_time)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.A},#{item.B},#{item.C},#{item.D})
        </foreach>
    </insert>
-->

<!--    <insert id="insertExcel">-->
<!--        insert into hte_ck_product_data_collect-->
<!--        (id,parent_id,site_id, product_id,collect_id,creater,tz_date, hy_date,create_time)-->
<!--        values-->
<!--        <foreach item="item" index="index" collection="list" separator=",">-->
<!--            (#{item.id},#{item.A},#{item.B},#{item.C},#{item.D},#{item.E},#{item.F},#{item.G},#{item.H})-->
<!--        </foreach>-->
<!--    </insert>-->

    <!--<insert id="insertExcel">
        insert into hte_ck_product_data_collect_detail
        (id,parent_id, test_index_id, test_value)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.A},#{item.B},#{item.C})
        </foreach>
    </insert>-->

    <!--<insert id="insertExcel">
        insert into hte_water_data_collect
        (id,site_id, collect_point, collect_date, collect_time)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.A},#{item.B},#{item.C},#{item.D})
        </foreach>
    </insert>-->

    <insert id="insertExcel">
        insert into hte_water_data_collect_detail
        (id,parent_id, test_index_id, test_value)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.A},#{item.B},#{item.C})
        </foreach>
    </insert>

    <insert id="insertPurchaseQC">
        insert into hte_kc_material_purchase(id,djh,site_id, material_id, supply_id, sl_t, dj, yfdj, zje, cg_date,
        creater,remark, check_flag, create_time, check_date,rk_flag,purchase_way,djh_desc)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.id},#{item.djh},#{item.A},#{item.B},#{item.C},#{item.D},#{item.E},#{item.F},#{item.G},
            curdate(),'付仁杰','',2,curdate(),curdate(),1,1,#{item.H}
            )
        </foreach>
    </insert>

    <insert id="insertRkQC">
        insert into hte_kc_material_rk(id,djh,site_id, material_id, supply_id, sl_t, rk_date, creater,
        remark, check_flag, create_time, check_date,kc_sl_t,djh_desc)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.djh},#{item.A},#{item.B},#{item.C},#{item.D},curdate(),'付仁杰','',
            2,curdate(),curdate(),#{item.D},#{item.H})
        </foreach>
    </insert>

    <insert id="insertCkProduct">
        insert into hte_ck_product
        (id,create_time, djh, site_id, product_id, collect_id, sl_t, tz_date, remark, check_flag, check_date,type, creater)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.A},#{item.B},#{item.C},#{item.D},#{item.E},#{item.F},#{item.G},#{item.H},
            #{item.I},#{item.J},#{item.K},#{item.L})
        </foreach>
    </insert>

</mapper>

