<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.excelImort.mapper.PurchaseMapper">
    <insert id="myInsert">
        insert into hte_kc_material_purchase(id, create_time, djh, site_id, material_id, supply_id, sl_t, dj, yfdj, zje,
                                             creater, remark, check_flag, check_date, rk_flag, purchase_way, djh_desc,
                                             cg_date)
        values (#{id}, #{sysDate}, #{djh}, #{site}, #{material}, #{supply}, #{slT}, #{cgdj}, #{yfdj}, #{zje},
                #{creater}, #{remark}, #{checkFlag}, #{checkDate}, #{rkFlag}, #{purchaseWay}, #{purchaseDate})
    </insert>

</mapper>