<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mobile.mapper.MobileMapper">

    <select id="selectDeparts2Work" resultType="java.lang.String">
        select dep_id
        from sys_user_depart
        where user_id = #{id}
    </select>

    <select id="selectRoles" resultType="java.lang.String">
        select role_id
        from sys_user_role
        where user_id = #{id}
    </select>
</mapper>