<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.quartz.mapper.CkProductDealJobMapper">

    <insert id="saveCkProduct">
        insert into sitename_product_month (type, sitename, ck_year_month, sum_water, sum_sludge)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.type},#{item.sitename},#{item.ckYearMonth},#{item.sumWater},#{item.sumSludge})
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from sitename_product_month where ck_year_month = #{ckYearMonth}
    </delete>

    <delete id="batchDeleteCkProductGeneral">
        delete from test_ckproduct_general where static_year_month = #{ckYearMonth}
    </delete>

    <insert id="saveCkProductGenaral">
        INSERT INTO test_ckproduct_general ( project_type, static_year_month, static_year, static_month, sum_water, sum_sludge, sludge_rate, water_huanbi, water_tongbi, sludge_huanbi, sludge_tongbi, rate_huanbi, rate_tongbi ) SELECT
a.`project_type`,
a.`ck_year_month`,
YEAR ( a.`ck_year_month` ) AS static_year,
MONTH ( a.`ck_year_month` ) AS static_month,
a.`sum_water`,
a.`sum_sludge`,
a.`sludge_rate`,
(case when  b.`sum_water` != 0 then round(( a.`sum_water` - b.`sum_water` )/ b.`sum_water`, 4 ) else 0 end) AS water_huanbi,
(case when  c.`sum_water` != 0 then round(( a.`sum_water` - c.`sum_water` )/ c.`sum_water`, 4 ) else 0 end) AS water_tongbi,
(case when b.`sum_sludge` != 0 then round(( a.`sum_sludge` - b.`sum_sludge` )/ b.`sum_sludge`, 4 ) else 0 end) AS sludge_huanbi,
(case when c.`sum_sludge` != 0 then round(( a.`sum_sludge` - c.`sum_sludge` )/ c.`sum_sludge`, 4 ) else 0 end) AS sludge_tongbi,
(case when b.`sludge_rate` != 0 then round(( a.`sludge_rate` - b.`sludge_rate` )/ b.`sludge_rate`, 4 ) else 0 end) AS rate_huanbi,
(case when c.`sludge_rate` != 0 then round(( a.`sludge_rate` - c.`sludge_rate` )/ c.`sludge_rate`, 4 ) else 0 end) AS rate_tongbi
FROM
	(
	SELECT
		"所有项目" AS project_type,
		ck_year_month ,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = #{ckYearMonth}
	) a
	LEFT JOIN (
	SELECT
		"所有项目" AS project_type,
		ck_year_month ,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
	ck_year_month = date_sub( #{ckYearMonth}, INTERVAL 1 MONTH )) b ON 1 = 1
	LEFT JOIN (
	SELECT
		"所有项目" AS project_type,
		ck_year_month ,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
	ck_year_month = date_sub( #{ckYearMonth}, INTERVAL 1 YEAR )) c ON 1 = 1 UNION ALL-- 电镀 概况
SELECT
	a.`project_type`,
	a.`ck_year_month` ,
	YEAR ( a.`ck_year_month` ) AS static_year,
	MONTH ( a.`ck_year_month` ) AS static_month,
	a.`sum_water`,
	a.`sum_sludge`,
	a.`sludge_rate`,
	(case when b.`sum_water` != 0 then round(( a.`sum_water` - b.`sum_water` )/ b.`sum_water`, 4 ) else 0 end) AS water_huanbi,
	(case when c.`sum_water` != 0 then round(( a.`sum_water` - c.`sum_water` )/ c.`sum_water`, 4 ) else 0 end) AS water_tongbi,
	(case when b.`sum_sludge` != 0 then round(( a.`sum_sludge` - b.`sum_sludge` )/ b.`sum_sludge`, 4 ) else 0 end) AS sludge_huanbi,
	(case when c.`sum_sludge` != 0 then round(( a.`sum_sludge` - c.`sum_sludge` )/ c.`sum_sludge`, 4 ) else 0 end) AS sludge_tongbi,
	(case when b.`sludge_rate` != 0 then round(( a.`sludge_rate` - b.`sludge_rate` )/ b.`sludge_rate`, 4 ) else 0 end) AS rate_huanbi,
	(case when c.`sludge_rate` != 0 then round(( a.`sludge_rate` - c.`sludge_rate` )/ c.`sludge_rate`, 4 ) else 0 end) AS rate_tongbi
FROM
	(
	SELECT
		type AS project_type,
		ck_year_month,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = #{ckYearMonth}
		AND type = "电镀"
	) a
	LEFT JOIN (
	SELECT
		type AS project_type,
		ck_year_month,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = date_sub( #{ckYearMonth}, INTERVAL 1 MONTH )
		AND type = "电镀"
	) b ON 1 = 1
	LEFT JOIN (
	SELECT
		type AS project_type,
		ck_year_month,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = date_sub( #{ckYearMonth}, INTERVAL 1 YEAR )
		AND type = "电镀"
	) c ON 1 = 1 UNION ALL-- 非电镀 概况
SELECT
	a.`project_type`,
	a.`ck_year_month` ,
	YEAR ( a.`ck_year_month` ) AS static_year,
	MONTH ( a.`ck_year_month` ) AS static_month,
	a.`sum_water`,
	a.`sum_sludge`,
	a.`sludge_rate`,
	(case when b.`sum_water` != 0 then round(( a.`sum_water` - b.`sum_water` )/ b.`sum_water`, 4 ) else 0 end) AS water_huanbi,
	(case when c.`sum_water` != 0 then round(( a.`sum_water` - c.`sum_water` )/ c.`sum_water`, 4 ) else 0 end) AS water_tongbi,
	(case when b.`sum_sludge` != 0 then round(( a.`sum_sludge` - b.`sum_sludge` )/ b.`sum_sludge`, 4 ) else 0 end) AS sludge_huanbi,
	(case when c.`sum_sludge` != 0 then round(( a.`sum_sludge` - c.`sum_sludge` )/ c.`sum_sludge`, 4 ) else 0 end) AS sludge_tongbi,
	(case when b.`sludge_rate` != 0 then round(( a.`sludge_rate` - b.`sludge_rate` )/ b.`sludge_rate`, 4 ) else 0 end) AS rate_huanbi,
	(case when c.`sludge_rate` != 0 then round(( a.`sludge_rate` - c.`sludge_rate` )/ c.`sludge_rate`, 4 ) else 0 end) AS rate_tongbi
FROM
	(
	SELECT
		type AS project_type,
		ck_year_month,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = #{ckYearMonth}
		AND type = "非电镀"
	) a
	LEFT JOIN (
	SELECT
		type AS project_type,
		ck_year_month,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = date_sub( #{ckYearMonth}, INTERVAL 1 MONTH )
		AND type = "非电镀"
	) b ON 1 = 1
	LEFT JOIN (
	SELECT
		type AS project_type,
		ck_year_month,
		round( sum( sum_water ), 2 ) AS sum_water,
		round( sum( sum_sludge ), 2 ) AS sum_sludge,
		(case when sum( sum_water ) != 0 then round( sum( sum_sludge )/ sum( sum_water )* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = date_sub( #{ckYearMonth}, INTERVAL 1 YEAR )
		AND type = "非电镀"
	) c ON 1 = 1;
    </insert>

    <select id="getCkProductGeneralByProjectType" resultType="java.util.Map">
		select * from test_ckproduct_general where project_type = #{projectType} and static_year_month = #{staticYearMonth}
	</select>

	<select id="getSiteList" resultType="java.lang.String">
		SELECT DISTINCT sitename FROM `sitename_product_month` WHERE ck_year_month = #{staticYearMonth}
	</select>

	<update id="updateSiteCkProductGeneral">
		update sitename_product_month e,
(SELECT
	a.`sitename`,
	a.`ck_year_month` ,
	YEAR ( a.`ck_year_month` ) AS static_year,
	MONTH ( a.`ck_year_month` ) AS static_month,
	a.`sum_water`,
	a.`sum_sludge`,
	a.`sludge_rate`,
	(case when b.`sum_water` != 0 then round(( a.`sum_water` - b.`sum_water` )/ b.`sum_water`, 4 ) else 0 end) AS water_huanbi,
	(case when c.`sum_water` != 0 then round(( a.`sum_water` - c.`sum_water` )/ c.`sum_water`, 4 ) else 0 end) AS water_tongbi,
	(case when b.`sum_sludge` != 0 then round(( a.`sum_sludge` - b.`sum_sludge` )/ b.`sum_sludge`, 4 ) else 0 end) AS sludge_huanbi,
	(case when c.`sum_sludge` != 0 then round(( a.`sum_sludge` - c.`sum_sludge` )/ c.`sum_sludge`, 4 ) else 0 end) AS sludge_tongbi,
	(case when b.`sludge_rate` != 0 then round(( a.`sludge_rate` - b.`sludge_rate` )/ b.`sludge_rate`, 4 ) else 0 end) AS rate_huanbi,
	(case when c.`sludge_rate` != 0 then round(( a.`sludge_rate` - c.`sludge_rate` )/ c.`sludge_rate`, 4 ) else 0 end) AS rate_tongbi
FROM
	(
	SELECT
		sitename,
		ck_year_month,
		round( sum_water, 2 ) AS sum_water,
		round( sum_sludge, 2 ) AS sum_sludge,
		(case when sum_water != 0 then round( sum_sludge/ sum_water* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = #{staticYearMonth}
		AND sitename = #{sitename}
	) a
	left join
 (
 SELECT
		sitename,
		ck_year_month,
		round( sum_water, 2 ) AS sum_water,
		round( sum_sludge, 2 ) AS sum_sludge,
		(case when sum_water != 0 then round( sum_sludge/ sum_water* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = date_sub( #{staticYearMonth}, INTERVAL 1 MONTH )
		AND sitename = #{sitename}) b on 1=1
		left join
(
	SELECT
		sitename,
		ck_year_month,
		round( sum_water, 2 ) AS sum_water,
		round( sum_sludge, 2 ) AS sum_sludge,
		(case when sum_water != 0 then round( sum_sludge/ sum_water* 1000, 4 ) else 0 end) AS sludge_rate
	FROM
		`sitename_product_month`
	WHERE
		ck_year_month = date_sub( #{staticYearMonth}, INTERVAL 1 YEAR )
		AND sitename = #{sitename}) c on 1=1) d
		set e.sludge_rate = d.sludge_rate,
		e.static_year = d.static_year,
		e.static_month = d.static_month,
		e.water_huanbi = d.water_huanbi, e.water_tongbi = d.water_tongbi,
		e.sludge_huanbi = d.sludge_huanbi, e.sludge_tongbi = d.sludge_tongbi,
		e.rate_huanbi = d.rate_huanbi, e.rate_tongbi = d.rate_tongbi
		where e.sitename = d.sitename and e.ck_year_month = d.ck_year_month
	</update>

	<select id="getSitenameProduct" resultType="java.util.Map" >
		select sitename, sum_water as sl_t
		from `sitename_product_month`
		where ck_year_month = #{staticYearMonth}
	</select>


</mapper>
